<a href="https://colab.research.google.com/github/jjbstudent/Colab-uploads/blob/main/Python_and_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#example of using SQL and python

import sqlite3

connection = sqlite3.connect("mydb.db")

cursor = connection.cursor()

In [2]:
def makeTable():
    #Make the database table if it does not exist
    #the SQl will make a table called main, add an id, name and colour field
    command1 = "CREATE TABLE IF NOT EXISTS main(id INTEGER PRIMARY KEY, name TEXT, colour TEXT)"
    cursor.execute(command1)

    #add values into the table
    cursor.execute("INSERT INTO main VALUES (1, 'Mario', 'Red')")
    cursor.execute("INSERT INTO main VALUES (2, 'Luigi', 'Green')")
    cursor.execute("INSERT INTO main VALUES (3, 'Bowser', 'Purple')")
    cursor.execute("INSERT INTO main VALUES (4, 'Wario', 'Yellow')")

    #make the data permanent
    connection.commit()

#run the function to make the table
makeTable()

In [3]:
cursor.execute('SELECT * FROM main')
results = cursor.fetchall()
print("ALL: ",results)

ALL:  [(1, 'Mario', 'Red'), (2, 'Luigi', 'Green'), (3, 'Bowser', 'Purple'), (4, 'Wario', 'Yellow')]

In [4]:
# 1 record of a person by id
cursor.execute("SELECT * FROM main WHERE id = 2")
result = cursor.fetchall()
print ("Just ID 2: ",results)

Just ID 2:  [(1, 'Mario', 'Red'), (2, 'Luigi', 'Green'), (3, 'Bowser', 'Purple'), (4, 'Wario', 'Yellow')]

In [6]:
# run the function to make the table
# maketable()
cursor.execute("INSERT INTO main VALUES (6, 'Wario', 'Yellow')")

In [7]:
# prompt: display table with updates

connection.commit()
cursor.execute('SELECT * FROM main')
results = cursor.fetchall()
print("ALL: ",results)

ALL:  [(1, 'Mario', 'Red'), (2, 'Luigi', 'Green'), (3, 'Bowser', 'Purple'), (4, 'Wario', 'Yellow'), (6, 'Wario', 'Yellow')]

You can’t add any data into the database with python if you have it open in the DB viewer… as the file will be locked!

So you need to close the viewer while running any SQL that will write to the database.

There are many more SQL queries you can try! Have a go and see what you can do!  https://www.w3schools.com/sql/sql_syntax.asp